@{
    ViewBag.PageTitle = "Orders Management";
    ViewBag.CardTitle = "View Orders";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}



<br />
<table id="mytable" class="table table-hover" width="100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>PhoneNumber</th>
            <th>Email</th>
            <th>OrderStatus</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>


@section Scripts {
    <script src="~/dist/js/Order.js"></script>


}
