@model ProductVm
@{
    ViewBag.PageTitle = "Product Management";
    ViewBag.CardTitle = "Create";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Product.Name"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Product.Description"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Product.Price"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            

            <div class="mb-3">
                <label asp-for="Product.Image"></label>
                <input type="file" name="upload" id="imagefile" class="form-control" />
                
            </div>
            <div class="mb-3">
                <label asp-for="Product.CategoryId"></label>
                <select asp-for="Product.CategoryId" class="form-control" asp-items="Model.CategoryList">
                <option disabled selected>-- Select Category --</option>
                </select>
            </div>


            <div class="mb-3">
                <button type="submit" class="btn btn-primary">create</button>
                <a asp-action="Index" asp-controller="Product" class="btn btn-warning">Back to Index</a>
            </div>


        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}