@model ProductVm
@{
    ViewBag.PageTitle = "Product Management";
    ViewBag.CardTitle = "Edit";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Edit" enctype="multipart/form-data">
            <input asp-for="Product.Id" type="hidden" />
            <input asp-for="Product.Image" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Product.Name"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Product.Description"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Product.Price"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>


            <div class="mb-3">
                <label asp-for="Product.Image"></label>
                <input type="file" name="upload" id="imagefile" class="form-control" />

            </div>
            <div class="mb-3">
                <label asp-for="Product.CategoryId"></label>
                <select asp-for="Product.CategoryId" class="form-control" asp-items="Model.CategoryList">
                    <option disabled selected>-- Select Category --</option>
                </select>
            </div>


            <div class="mb-3">
                <button type="submit" class="btn btn-success">Save</button>
                <a asp-action="Index" asp-controller="Product" class="btn btn-warning">Back to Index</a>
            </div>


        </form>
    </div>
   @*  <div class="col-md-4">
        <div class="container">
            <img id="imagepreview" src="~/@Model.Product.Image" width="300" height="300"/>

        </div>
    </div> *@
    <div class="col-md-4">
        <div class="container">
            <!-- Output the image path for debugging purposes -->
            
            <img id="imagepreview" src="@Url.Content("~/" + Model.Product.Image)" width="300" height="300" />
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}